<div class="overflow-hidden">
    <app-header-navigation></app-header-navigation>
    <app-header-section></app-header-section>
    <app-main-cards></app-main-cards>
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6">
                <app-upcoming-session></app-upcoming-session>
            </div>
            <div class="col-12 col-xl-6">
                <app-activities></app-activities>
             </div>
        </div>
    </div>
    <app-message-coach></app-message-coach>
</div>

