<div class="main-cards mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xxl-3 mb-3">
                <div class="card-1 p-4">
                    <div class="row">
                        <div class="col-3 col-lg-5 col-xl-4 pe-0">
                            <img class="tv-image" src="assets/images/cards/tv-02.svg" alt="TV" style="width: 64px; height: 64px;">
                        </div>
                        <div class="col-9 col-lg-7 col-xl-8">
                             <h1 class="m-0 count-text">3</h1>
                             <p class="sub-text">Sessions</p>
                        </div>
                    </div> 
                    <div class="row mx-1 my-2 mx-lg-0">
                        <button class="btn-1">
                            <img class="plus-image" src="assets/images/cards/plus.svg" alt="plus-icon"><span class="ps-2">Schedule your next session</span>
                        </button>
                    </div>  
                </div>
            </div>

            <div class="col-md-6 col-xxl-3 mb-3">
                <div class="card-2 p-4">
                    <div class="row">
                        <div class="col-3 col-lg-5 col-xl-4 pe-0">
                            <img class="not-image" src="assets/images/cards/notification-text.svg" alt="TV" style="width: 64px; height: 64px;">
                        </div>
                        <div class="col-9 col-lg-7 col-xl-8">
                             <h1 class="m-0 count-text">20</h1>
                             <p class="sub-text">Notes</p>
                        </div>
                    </div> 
                    <div class="row mx-1 my-2">
                        <button class="btn-2">
                            <img class="dot-image" src="assets/images/cards/dot.svg" alt="plus-icon"><span class="ps-2">You've got new notes</span>
                        </button>
                    </div>  
                </div>
            </div>

            <div class="col-md-6 col-xxl-3 mb-3">
                <div class="card-3 p-4">
                    <div class="row">
                        <div class="col-3 col-lg-5 col-xl-4 pe-0">
                            <img class="tv-image" src="assets/images/cards/share-07.svg" alt="TV" style="width: 64px; height: 64px;">
                        </div>
                        <div class="col-9 col-lg-7 col-xl-8">
                             <h1 class="m-0 count-text">105</h1>
                             <p class="sub-text">Resources</p>
                        </div>
                    </div> 
                    <div class="row mx-1 my-2">
                        <button class="btn-2">
                            <img class="dot-image" src="assets/images/cards/dot.svg" alt="plus-icon"><span class="ps-2">You've got new resources</span>
                        </button>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xxl-3 mb-3">
                <div class="card-4 p-4">
                    <div class="row">
                        <div class="col-3 col-lg-5 col-xl-4 pe-0">
                            <img class="tv-image" src="assets/images/cards/target-04.svg" alt="TV" style="width: 64px; height: 64px;">
                        </div>
                        <div class="col-9 col-lg-7 col-xl-8">
                            <h1 class="m-0 count-text">3</h1>
                            <p class="sub-text">Goals</p>
                        </div>
                    </div> 
                    <div class="row mx-1 my-2">
                        <div class="progress-bar">
                            <ngb-progressbar [value]="75" />
                        </div>  
                    </div>  
                </div>
            </div>

        </div>
    </div>
</div>
