<div class="activities mt-4">
    <div class="activities-box p-3">
        <div class="row">
            <div class="col">
                <h1 class="title">Activities / To Dos</h1>
            </div>
            <div class="col text-end">
                <button class="view-btn">
                    <img class="dot-image" src="assets/images/session/eye.svg" alt="eye-icon"><span class="ps-2">View all</span>
                </button>
            </div>
        </div>
        <hr class="m-1" style="color: #EAECF0;">

        <ul class="timeline">
            <li>
              <div class="bullet">
                <img src="assets/images/session/eye.svg" alt="Bullet 1" />
              </div>
              <div class="content">
                First Step: Description of the first bullet.
              </div>
            </li>
            <li>
              <div class="bullet">
                <img src="assets/images/session/eye.svg" alt="Bullet 2" />
              </div>
              <div class="content">
                Second Step: Description of the second bullet.
              </div>
            </li>
            <li>
              <div class="bullet">
                <img src="assets/images/session/eye.svg" alt="Bullet 3" />
              </div>
              <div class="content">
                Third Step: Description of the third bullet.
              </div>
            </li>
          </ul>
          
    
          
    </div>
</div>
