<div class="activities mt-4">
    <div class="activities-box p-4">
        <div class="row">
            <div class="col">
                <h1 class="title py-1">Activities / To Dos</h1>
            </div>
            <div class="col text-end">
                <button class="view-btn">
                    <img class="dot-image" src="assets/images/session/eye.svg" alt="eye-icon"><span class="ps-2">View all</span>
                </button>
            </div>
        </div>
        <hr class="m-1" style="border:1px solid #EAECF0;">

        <ul class="timeline mt-3">
            <li>
                <div class="bullet">
                    <img src="assets/images/activity/icon-tv.svg" alt="Bullet 1" />
                </div>
                <div class="content">
                    <p class="content-name mb-0">Bec Ferguson</p>
                    <p class="content-text mb-0">created a coaching engagement for you. You have completed 0 sessions of the package. <span>Check Engagement</span></p>
                    <div class="active text-end" style="position: absolute; top: 0;right: 0;">
                        <img src="assets/images/activity/icon-dot.svg" alt="Bullet 1" />
                    </div>
                </div>
            </li>

            <li>
              <div class="bullet">
                  <img src="assets/images/activity/icon-tv.svg" alt="Bullet 1" />
              </div>
              <div class="content">
                  <p class="content-name mb-0">You</p>
                  <p class="content-text mb-0">have received a new group task on group- Harmony Haven 2 <span>Check Task</span></p>
                  <div class="active text-end" style="position: absolute; top: 0;right: 0;">
                      <img src="assets/images/activity/icon-dot.svg" alt="Bullet 1" />
                  </div>
              </div>
            </li>

            <li>
              <div class="bullet">
                  <img src="assets/images/activity/Icon-2.svg" alt="Bullet 1" />
              </div>
              <div class="content">
                  <p class="content-name mb-0">Bec Ferguson</p>
                  <p class="content-text mb-0">has shared a new coaching contract with you. Please review <span>Sign My Contract</span></p>
                  <div class="active text-end" style="position: absolute; top: 0;right: 0;">
                      <img src="assets/images/activity/icon-dot.svg" alt="Bullet 1" />
                  </div>
              </div>
            </li>  
            <li>
              <div class="bullet bg-color">
                  <img src="assets/images/activity/Icon-2.svg" alt="Bullet 1" />
              </div>
              <div class="content">
                  <p class="content-name mb-0">Candice Wilson</p>
                  <p class="content-text-2 mb-0">created a coaching engagement for you. You have completed 0 sessions of the package. <span>Check Engagement</span></p>
                  <div class="active text-end" style="position: absolute; top: 0;right: 0;">
                      <!-- <img src="assets/images/activity/icon-dot.svg" alt="Bullet 1" /> -->
                  </div>
              </div>
          </li> 
        </ul>    
    </div>
</div>
