* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter.ttf');
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans.ttf');
}
